[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.2
[submodule "steam-audio"]
	path = steam-audio
	url = https://github.com/ValveSoftware/steam-audio.git
